<!-- home section starts  -->

<section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>spicy noodles</h3>
                    <p>Noodles are a type of food made from unleavened dough which is rolled flat and cut, stretched or extruded, into long strips or strings. Noodles can be refrigerated for short-term storage or dried and stored for future use.</p>
                    <a href="#" class="btn">order now</a>
                </div>
                <div class="image">
                    <img src="<%=image_url('home-img-1.png')%>" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>Fried Chicken</h3>
                    <p>Frying, the cooking of food in hot fats or oils, usually done with a shallow oil bath in a pan over a fire or as so-called deep fat frying, in which the food is completely immersed in a deeper vessel of hot oil. ... Relatively lean meats, fish, and vegetables are often floured or dipped in batter before being fried</p>
                    <a href="#" class="btn">order now</a>
                </div>
                <div class="image">
                    <img src="<%=image_url('home-img-2.png')%>" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>Hot Pizza</h3>
                    <p>Hot ovens mean that the pizza stone inside stays hot consistently, so there is no waiting while the stone heats up to cook another pizza. The stone retains heat between cooking pizzas, so you can cook one in just a few minutes.</p>
                    <a href="#" class="btn">order now</a>
                </div>
                <div class="image">
                    <img src="<%=image_url('home-img-3.png')%>" alt="">
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<!-- home section ends -->

<!-- dishes section starts  -->

<section class="dishes" id="dishes">

    <h3 class="sub-heading"> our dishes </h3>
    <h1 class="heading"> popular dishes </h1>

    <div class="box-container">

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="<%=image_url('dish-1.png')%>" alt="">
            <h3>Burger</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Rs:300</span>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="<%=image_url('dish-2.png')%>" alt="">
            <h3>Nugguts</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Rs:500</span>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="<%=image_url('dish-3.png')%>" alt="">
            <h3>Chicken</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Rs:400</span>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="<%=image_url('dish-4.png')%>" alt="">
            <h3>Pizza </h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Rs:699</span>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="<%=image_url('dish-5.png')%>" alt="">
            <h3>Ice Cream</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Rs:350</span>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="<%=image_url('dish-6.png')%>" alt="">
            <h3>Chicken</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Rs:499</span>
            <a href="#" class="btn">add to cart</a>
        </div>

    </div>

</section>

<!-- dishes section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h3 class="sub-heading"> about us </h3>
    <h1 class="heading"> why choose us? </h1>

    <div class="row">

        <div class="image">
            <img src="<%=image_url('about-img.png')%>" alt="">
        </div>

        <div class="content">
            <h3>best food in the country</h3>
            <p>Chicken Samosa is a delicious, juicy Pakistani Samosa variety made with a combination of minced meat (typically lamb), onions, garlic, ginger, coriander, juice, yogurt, and garam masala. The spices used in the dish can be modified according to personal preferences.</p>
            <p>The meat mixture is placed on skewers, and the samosa are then grilled over hot coals, giving them a nice smokey flavor in the process,Chicken Samosa is traditionally served piping hot with salads, onions, fries, mint chutney, or flatbreads on the side.</p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fas fa-shipping-fast"></i>
                    <span>free delivery</span>
                </div>
                <div class="icons">
                    <i class="fas fa-dollar-sign"></i>
                    <span>easy payments</span>
                </div>
                <div class="icons">
                    <i class="fas fa-headset"></i>
                    <span>24/7 service</span>
                </div>
            </div>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- menu section starts  -->

<section class="menu" id="menu">

    <h3 class="sub-heading"> our menu </h3>
    <h1 class="heading"> today's speciality </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="<%=image_url('menu-1.jpg')%>" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Hot Pizza</h3>
                <p>Pizza made with some combination of olive oil, oregano, tomato, olives, mozzarella or other cheese, and many other ingredients</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">Rs:1200</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="<%=image_url('menu-2.jpg')%>" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3> Burger</h3>
                <p> Burger is a food,typically considered a sandwich,consisting of one or more cooked patties of ground meat,beef,placed inside a sliced bread.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">Rs:550</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="<%=image_url('menu-3.jpg')%>" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3> Parathas</h3>
                <p>Paratha are made with whole wheat flour (atta), salt, water & ghee or oil. These are served for a breakfast with a side of curd,eggs and meat dishes.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">Rs:630</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="<%=image_url('menu-4.jpg')%>" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Ice Cream</h3>
                <p>Ice cream is a sweetened frozen food.It's made from dairy milk or cream and is flavoured with sugar and spice.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">Rs:540</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="<%=image_url('menu-5.jpg')%>" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Fruit Cakes</h3>
                <p>Fruitcake is a cake made with candied or dried fruit, nuts, and spices, and optionally soaked in spirits.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">Rs:999</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="<%=image_url('menu-6.jpg')%>" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Hot Cakes</h3>
                <p>Hot Cake is a cake made with candied or dried fruit, nuts, and spices, and optionally soaked in spirits.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">Rs:699</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="<%=image_url('menu-7.jpg')%>" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Fruits Juice</h3>
                <p>Juice is a drink made from the natural liquid contained in fruit , water and sugar.
                </p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">Rs:340</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="<%=image_url('menu-8.jpg')%>" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Fruit Chaat</h3>
                <p>Fruit chaat is a spicy, tangy.Various fruits are mixed with a spice blend and chaat masala.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">Rs:450</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="<%=image_url('menu-9.jpg')%>" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Lemon Juice</h3>
                <p>Lemon juice is most commonly used in a drink called lemonade which is made by using lemon juice, water and sugar.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">Rs:150</span>
            </div>
        </div>

    </div>

</section>

<!-- menu section ends -->

<!-- review section starts  -->

<section class="review" id="review">

    <h3 class="sub-heading"> customer's review </h3>
    <h1 class="heading"> what they say </h1>

    <div class="swiper-container review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="<%=image_url('pic-1.png')%>" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
            </div>

            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="<%=image_url('pic-2.png')%>" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
            </div>

            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="<%=image_url('pic-2.png')%>" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
            </div>

            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="<%=image_url('pic-4.png')%>" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
            </div>

        </div>

    </div>
    
</section>

<!-- review section ends -->

<!-- order section starts  -->

<section class="order" id="order">

    <h3 class="sub-heading"> order now </h3>
    <h1 class="heading"> free and fast </h1>

    <form action="home/receive_order" method="get">

        <div class="inputBox">
            <div class="input">
                <span>your name</span>
                <input type="text" name="customer_name" placeholder="enter your name" required="true">
            </div>
            <div class="input">
                <span>your number</span>
                <input type="number" name="customer_number" placeholder="enter your number" required="true">
            </div>
        </div>
        <div class="inputBox">
            <div class="input">
                <span>your order</span>
                <input type="text" name="customer_order" placeholder="enter food name" required="true">
            </div>
            <div class="input">
                <span>additional food</span>
                <input type="test" name="customer_food" placeholder="extra with food" required="true">
            </div>
        </div>
        <div class="inputBox">
            <div class="input">
                <span>how musch</span>
                <input type="number" name="customer_food_quantity" placeholder="how many orders" required="true">
            </div>
            <div class="input">
                <span>date and time</span>
                <input type="datetime-local" name="customer_date_time" required="true">
            </div>
        </div>
        <div class="inputBox">
            <div class="input">
                <span>your address</span>
                <textarea  name="customer_adress" placeholder="enter your address" id="" required="true" cols="30" rows="10"></textarea>
            </div>
            <div class="input">
                <span>your message</span>
                <textarea  name="customer_message" placeholder="enter your message" id="" required="true" cols="30" rows="10"></textarea>
            </div>
        </div>

        <input type="submit" value="order now" class="btn">

    </form>

</section>

<!-- order section ends -->



