<div class="box-container">>
  <br>
<br>
<br>
<br>
<br>
<h1 style="color:  green;" >Order has been placed successfully</h1>
<h2 style="color: green;">Our Employee will contact you soon</h2>
<h3 style="color: green;">You  have enter your information as written below:</h3>
<label>Customer Name:</label>
<p><%=@contact.customer_name%></p>

<label>Customer Number</label>
<p><%=@contact.customer_number%></p>

<label>Customer Order</label>
<p><%=@contact.customer_order%></p>

<label>Customer Food</label>
<p><%=@contact.customer_food%></p>

<label>Customer Food Quantity</label>
<p><%=@contact.customer_food_quantity%></p>

<label>Delivery Date Time</label>
<p><%=@customer_date_time%></p>

<label>Customer Address</label>
<p><%=@contact.customer_adress%></p>

<label>Customer Message</label>
<p><%=@contact.customer_message%></p> 
</div>