<!DOCTYPE html>
<html>
  <head>
    <title>Food Resturant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

      
  </head>

  <body>
          
    <!-- header section starts      -->
      <%= render :partial => 'layouts/header' %>


    <!-- header section ends-->

    <!-- search form  -->

    <form action="" id="search-form">
        <input type="search" placeholder="search here..." name="" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>

    <!-- loader part  -->
    <div class="loader-container">
        <img src="<%=image_url('loader.gif')%>" alt="">
    </div>



      <%= yield %>
    <!-- footer section starts  -->

    <%= render :partial => 'layouts/footer' %>

    <!-- footer section ends -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <%#= javascript_include_tag asset_url 'script.js'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
